[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "~=3.1.0"
flask-sqlalchemy = "~=3.1.1"
psycopg = {extras = ["binary"], version = "~=3.2.4"}
retry2 = "~=0.9.5"
python-dotenv = "~=1.0.1"
gunicorn = "~=23.0.0"

[dev-packages]
black = "~=25.1.0"
coverage = "~=7.6.10"
flake8 = "~=7.1.1"
pylint = "~=3.3.4"
pytest = "~=8.3.4"
pytest-pspec = "~=0.0.4"
pytest-cov = "~=6.0.0"
factory-boy = "~=3.3.1"
honcho = "~=2.0.0"
httpie = "~=3.2.4"

[requires]
python_version = "3.11"
